.content {
  > * {
    padding-left: 30px;  // any children rule padding
  }

  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $secondary-color;

  p {
    width: 55%;
    min-width: 550px;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  ul {
    font-size: 1.5rem; // Sets list font size 
    line-height: 2.25;  //Sets line height font size
    list-style-type: square; //Sets square bullets
    list-style-position: inside;
  }

  img, video {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }

  a:visited { 
    color: midnightblue; //changes the color of the visited click here link
  }
}  